<footer class="footer">
  <div class="footer__content">
    <p class="footer__text">This site is under construction</p>
    <img src="/icons/tools.svg" alt="" class="footer__icon" />
  </div>
</footer>
